<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="app.min.css"/>
    <link rel="stylesheet" href="PasswordManager.styles.css"/>
    <link rel="icon" type="image/svg+xml" href="passbolt.svg"/>
    <HeadOutlet/>
</head>

<body class="h-full bg-white sm:bg-slate-100">
<Routes/>
<script src="_framework/blazor.web.js"></script>
<script src="clipboard.js"></script>
</body>

</html>
