@inherits LayoutComponentBase

<div class="h-full flex justify-center items-center">
  <main class="max-w-screen-lg">
            @Body
          </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
