@page "/password-generator"
@rendermode InteractiveServer

<h3>PasswordGenerator</h3>

<div>
    <p>@Password</p>
</div>

<EditForm Model="@_options" FormName="passwordGeneratorForm" OnValidSubmit="GeneratePassword">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div>
        <label for="length">Length</label>
        <InputNumber @bind-Value="_options.Length" />
    </div>
    <button type="submit">Generate</button>
</EditForm>

@code {

    private PasswordGeneratorOptions _options = new();
    public string Password { get; set; } = string.Empty;

    private void GeneratePassword()
    {
        Console.WriteLine("Generating password");
        Console.WriteLine(_options.Length);
        var password = PasswordGeneratorService.Generate(_options);
        Password = password;
    }

}
